
<section class ="bg-neutral-950 h-screen">
 
    <div class="flex flex-col items-start   px-6   mx-auto ">
  
      <div class=" h-52 bg-neutral-900  rounded-lg">
          <div class="p-5">
            <div class="flex items-center  px-32">
                <svg class="h-8 w-8 text-cyan-500 mx-4"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <rect x="3" y="7" width="18" height="13" rx="2" />  <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />  <line x1="12" y1="12" x2="12" y2="12.01" />  <path d="M3 13a20 20 0 0 0 18 0" /></svg>
                <h1 class="text-gray-500  py-4">SERVICES</h1>
            </div>
            <h2 class="text-cyan-200 items-center mx-10 font-semibold  text-xl px-28 ">Solution Suite</h2>
          </div>

          <div class="w-auto ">

            <div class="m-auto overflow-x-hidden mx-0 ">

               
                    <div class="slide">
                        <div class="bg-neutral-800 rounded-lg p-3 mx-3 w-52 items-center">
                            <h2 class="w-52  text-gray-300 font-semibold">
                                BACKEND DEVELOPMENT
                            </h2>
                        </div>
            
                        <div class="bg-neutral-800 rounded-lg p-3 mx-3 w-56 items-center">
                            <h2 class="w-56 text-gray-300 font-semibold">
                                FRONTEND DEVELOPMENT
                            </h2>
                        </div>
            
                        <div class="bg-neutral-800 rounded-lg p-3 mx-3 w-24 items-center">
                            <h2 class="w-24 text-gray-300 font-semibold">
                                DEV OPS
                            </h2>
                        </div>
                        <div class="bg-neutral-800 rounded-lg p-3 mx-3 w-56 items-center">
                            <h2 class="w-56 text-gray-300 font-semibold">
                               DATABASE MANAGEMENT
                            </h2>
                        </div>
        
                        <div class="bg-neutral-800 rounded-lg p-3 mx-3 w-52 items-center">
                            <h2 class="w-52 text-gray-300 font-semibold">
                                BACKEND DEVELOPMENT
                            </h2>
                        </div>
            
                        <div class="bg-neutral-800 rounded-lg p-3 mx-3 w-56 items-center">
                            <h2 class="w-56 text-gray-300 font-semibold">
                                FRONTEND DEVELOPMENT
                            </h2>
                        </div>
            
                        <div class="bg-neutral-800 rounded-lg p-3 mx-3 w-24 items-center">
                            <h2 class="w-24 text-gray-300 font-semibold ">
                               DEV OPS
                            </h2>
                        </div>
            
                        <div class="bg-neutral-800 rounded-lg p-3 mx-3 w-56 items-center">
                            <h2 class="w-56 text-gray-300 font-semibold">
                               DATABASE MANAGEMENT
                            </h2>
                        </div>
                        
                    </div>
                   
                </div>
            
            </div>  
           
                
          </div>

</div>

    <app-profile-component></app-profile-component>




    








